/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* footer Start */
    .help button {
        margin-right: 21px;
    }
    /* footer End */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* navbar start */
    .navbar-nav {
        width: 100%;
        background: #261f49;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px);
    }

    #header ul li {
        margin: 5px 0;
    }

    #header ul li a {
        font-size: 16px;
    }

    /* navbar end */
    /* banner start */
    .overlay-banner {
        padding: 200px 0 180px;
    }

    #banner p {
        font-size: 18px;
        padding: 50px 0;
    }

    #banner h1 {
        font-size: 40px;
        line-height: 47px;
    }

    /* banner End */
    /* story Start */
    .mypadding img {
        padding: 0 168px !important;
    }

    /* story End */
    /* work Start */
    #work .work-main {
        margin: 0 10px !important;
    }

    #work .mybtn {
        margin-top: 50px;
    }

    /* work End */
    /* Testi Start */
    .testi-item p {
        padding: 45px 23px 40px;
    }

    .client-item h3 {
        margin-top: 60px;
    }

    /* Testi End */
    /* Footer Start */
    #footer {
        text-align: center !important;
    }
    .footer-1 p {
        font-size: 15px;
        padding: 0 144px;
    }
    .help button {
        padding: 0 20px;
        margin-right: -10px;
    }
    .help {
        margin-top: 23px;
    }
    .location {
        justify-content: center;
    }
    .location.d-flex.mb-4 {
        margin-bottom: -1px !important;
    }
    .footer-2 h4 {
        padding-top: 40px;
        padding-bottom: 23px;
    }
    .footer-p {
        text-align: center !important;
    }
    /* Footer End */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* navbar start */
    .navbar-nav {
        width: 100%;
        background: #261f49;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px);
    }

    #header ul li {
        margin: 5px 0;
    }

    #header ul li a {
        font-size: 16px;
    }

    /* navbar end */
    /* banner start */
    .overlay-banner {
        padding: 162px 0 174px;
    }

    #banner p {
        font-size: 18px;
        padding: 50px 0;
    }

    #banner h1 {
        font-size: 40px;
        line-height: 47px;
    }

    /* banner End */

    /* Video Start */
    .vid h3 {
        margin-top: 30px;
    }

    /* Video End */

    /* Expart Start */
    .common-head h3 {
        font-size: 34px;
    }

    .common-head p {
        font-size: 17px;
    }

    .ser-item h4 {
        font-size: 24px;
    }

    .ser-item p {
        font-size: 20px;
        padding: 0 50px;
        line-height: 27px;
    }

    .similarbtn button {
        margin: 5px 1px;
        font-size: 14px;
    }

    #work .row {
        margin: 0 8px !important;
    }

    #work .mybtn {
        margin-top: 50px;
    }

    /* Expart End */

    /* Testimonials Start */
    .overlay-test {
        padding: 90px 0 50px;
    }

    .testi-item p {
        padding: 45px 0px 40px;
    }

    /* Testimonials End */

    /* Contact Start */
    #contact form .mybtn {
        margin-bottom: 50px;
    }

    /* Contact End */

    /* Footer Start */
    .footer-2 h4 {
        margin-top: 20px;
    }

    .footer-p {
        text-align: center !important;
    }

    .footer-over {
        padding: 60px 0 35px;
    }

    .footer-2 button {
        background: transparent;
        border: 1px solid #ddd;
        color: #ddd;
    }

    /* Footer End */

    /* banner Start */
    /* banner End */

    /* banner Start */
    /* banner End */
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* header */
    .navbar {
        padding: 1px 15px;
    }

    .navbar-brand img {
        width: 110px;
    }

    .navbar-nav {
        background: #261f49;
        text-align: center;
        padding: 10px 0;
    }

    #header ul li a {
        padding: 15px 10px;
    }

    /* header end */
    /* Banner start */
    .overlay-banner {
        padding: 110px 0 100px;
    }

    #banner h1 {
        font-size: 34px;
        line-height: 40px;
    }

    #banner p {
        padding: 50px 0;
    }

    .dots {
        bottom: 45px;
    }

    /* Banner end */
    /* Story story */
    #contact,
    #work,
    .over-t,
    #story {
        padding: 60px 0;
    }

    .story-text h3 {
        font-size: 25px;
        text-align: center;
        margin-top: 50px;
    }

    .story-text p {
        margin: 25px 0 0 0;
        text-align: center;
    }

    .story-text p span {
        margin-top: 9px;
        display: inline-block;
        margin-bottom: 30px;
    }

    .mybtn {
        text-align: center;
    }

    /* Story end */
    /* Video Start */
    .overlay-v {
        padding: 130px 0;
    }

    /* Video end */
    /* Expart Start */
    .common-head p {
        line-height: 20px;
    }

    .expart-main {
        margin-top: 60px;
    }

    .ser-item p {
        padding: 0 30px;
    }

    .ser-item {
        margin-bottom: 40px;
    }

    /* Expart end */
    /* Team Start */
    #team .common-head p {
        padding: 0 20px;
    }

    .hghg {
        margin-top: 70px;
    }

    /* Team end */
    /* Works Start */
    #work .row {
        margin: 0 5px !important;
    }

    .similarbtn button {
        margin: 5px 2px;
        font-size: 14px;
    }

    #work .mybtn {
        margin-top: 50px;
    }

    /* Works end */

    /* Testimonials Start */
    .overlay-test {
        padding: 70px 0 50px;
    }

    .testi-item p {
        padding: 30px 0;
    }

    .double-dots {
        margin-top: 30px;
    }

    .double-dots div {
        width: 16px;
        height: 16px;
        margin: 0 10px;
    }

    .client-item {
        margin: 50px 0 0;
    }

    .client-item h3,
    .form-item h3 {
        margin-bottom: 33px;
        text-align: center;
    }

    /* Testimonials end */
    /* Footer Start */

    .footer-over {
        padding: 50px 0 30px;
    }

    .footer-p {
        padding-top: 40px;
        text-align: center !important;
    }

    .help {
        margin-top: 15px;
        margin-bottom: 3px;
    }

    .help button {
        margin-right: 21px;
    }

    /* Footer end */
}