/* ##################### All Common CSS Start  ##################### */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* ##################### All Common CSS End  ##################### */

/* ##################### All Customization CSS Start  ##################### */
.navbar .fa-bars{
    font-size: 25px;
    color: #fff;
}
.mybtn a {
    display: inline-block;
    padding: 14px 16px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    transition: .4s;
}

.mybtn a:hover {
    color: #fff;
    background: #00e0d0;
}
html {
    scroll-behavior: smooth;
  }
/* ##################### All Customization CSS End  ##################### */

/* #####################  Header CSS Start  #####################  */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.fixed {
    position: fixed;
    width: 100%;
    background: #655b7f;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    animation: sticky .8s;
}
@keyframes sticky {
    0%{
        top: -100px;
    }
    100%{
        top: 0px;
    }
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 25px;
}
#header ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #ffff;
    transition: color .4s;
}

#header ul li a:hover {
    color: #00e0d0;
}

#header .nav-item.active a {
    color: #00e0d0;
}

/* #####################  Header CSS End  #######################  */

/* #####################  Header CSS Start  #####################  */
#banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative !important;
}

.overlay-banner {

    background: linear-gradient(to left, rgba(9, 5, 47, 0.6), rgba(49, 29, 94, 0.6));
}
.banner-text{
    padding: 230px 0 210px;
}
#banner h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 900;
    position: relative;
}

#banner h1::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background: #00e0d0;
}

#banner p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	line-height: 24px;
	padding: 50px 133px;
}
#banner .slick-slider {
	position: initial;
}
#banner .slick-dots{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#banner .slick-dots li{
    display: inline-block;
}
#banner .slick-dots button{
    color: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: .4s;
}

#banner .slick-dots li.slick-active > button{
    border: 1px solid #00e0d0;
    background: #00e0d0;
}

#banner .slick-dots li button:hover {
    background: #00e0d0;
    border: 1px solid #00e0d0;
}

/* #####################  Header CSS End  #######################  */

/* #####################  Header CSS Start  #####################  */
#story {
    padding: 70px 0;
}

.story-text h3 {
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
}

.story-text p {
    color: #413d4b;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 25px 48px 30px 0;
}

.story-text p span {
    margin-top: 25px;
    display: inline-block;
    margin-bottom: 10px;
}

/* #####################  Header CSS End  #######################  */

/* #####################  Header CSS Start  #####################  */
#video {
    background: url(../images/video.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-v {
    padding: 200px 0;
    background: linear-gradient(to left, rgba(9, 5, 47, 0.6), rgba(49, 29, 94, 0.6));
}

.vid h3 {
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

/* #####################  Header CSS End  #######################  */

/* #####################  Header CSS Start  #####################  */
#expart {
    padding: 70px 0 30px;
}

.common-head h3 {
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.common-head p {
    color: #2f2d35;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    position: relative;
}

.common-head p::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background: #c6c4c9;
}

.expart-main {
    margin-top: 80px;
}
.ser-item img{
    transition: .4s;
}
.ser-item:hover img{
    transform: scale(1.3);
    filter: contrast(200%) ;
}
.ser-item h4 {
    color: #413d4b;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 30px 0 15px;
}

.ser-item p {
    color: #333333;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding: 0 55px;
}

.ser-item {
    margin-bottom: 70px;
}

/* #####################  Header CSS End  #######################  */

/* #####################  Header CSS Start  #####################  */
#team {
    background: url(../images/team.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#team .common-head h3 {
    color: #fff;
}

#team .common-head p {
    color: #f9f9f9;
}

#team .common-head p::after {
    background: #655b7f;
}

.over-t {
    padding: 70px 0;
    background: linear-gradient(to right, rgba(9, 5, 47, 0.9), rgba(49, 29, 94, 0.9));
}

.hghg {
    margin-top: 100px;
}

.team-text {
    text-align: center;
    border: 1px solid #77768a;
}
.team-item figure{
    overflow: hidden;
}
.team-item img{
    transition: .4s;
}
.team-item img:hover{
    transform: scale(1.1);
}
#team .team-text h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 12px;
}

#team .team-text p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    font-weight: 300;
    padding-bottom: 20px;
}

.last {
    text-align: center;
    margin-top: 70px;
}

.last p {
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

/* #####################  Header CSS End  #######################  */

/* #####################  work CSS Start  #####################  */
#work {
    padding: 70px 0;
}

.similarbtn {
    margin: 50px 0;
}

.similarbtn button {
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 5px;
    background: transparent;
    box-shadow: none;
    border: 0;
    border: 1px solid #dddddd;
    padding: 9px 10px;
    border-radius: 5px;
    transition: .4s;
}

.similarbtn button:focus,
.similarbtn button:hover {
    border: 1px solid #00e0d0;
    background: #00e0d0;
}

.work-main {
    margin-bottom: 70px;
}

/* #####################  work CSS End  #######################  */

/* #####################  testi CSS Start  #####################  */
#testi {
    background: url(../images/testimonials.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay-test {
    padding: 120px 0 70px;
    background: linear-gradient(to right, rgba(9, 5, 47, 0.9), rgba(49, 29, 94, 0.9));
}

.testi-item {
    text-align: center;
}

.testi-item p {
	padding: 45px 145px 40px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	font-family: 'Playfair Display', serif;
}

.testi-item h4 {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-bottom: 10px;
}

.testi-item h6 {
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#testi .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}
#testi .slick-dots li{
    display: inline-block;
}
#testi .slick-dots button {
    color: transparent;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    margin: 0 14px;
    cursor: pointer;
    position: relative;
}

#testi .slick-dots button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background: #00e0d0;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
#testi .slick-dots li:hover button::after,
#testi .slick-dots li.slick-active button::after{
    opacity: 1;
    visibility: visible;
}
/* #####################  testi CSS End  #######################  */

/* #####################  contact CSS Start  #####################  */
#contact {
    padding: 70px 0;
}

.client-item h3,
.form-item h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 900;
    color: #413d4b;
    margin-bottom: 30px;
}

.form-item form textarea,
.form-item form input {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 15px 20px;
    margin-bottom: 22px;
}

.form-item form textarea::placeholder,
.form-item form input::placeholder {
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.form-item form textarea {
    height: 200px;
}

.client-item-img {
    display: flex;
    justify-content: space-between;
}

.client-item li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-item li img {
    margin-bottom: 45px;
}
.client-img img {
	margin-bottom: 40px;
	padding: 0 32px;
}
/* #####################  contact CSS End  #######################  */

/* #####################  footer CSS Start  #####################  */
#footer {
    background: url(../images/footer-img.jpg) center center no-repeat;
    background-size: cover;
}

.footer-over {
    padding: 60px 0;
    background: linear-gradient(to right, rgba(9, 5, 47, 0.9), rgba(49, 29, 94, 0.9));
}

.footer-1 img {
    margin-bottom: 30px;
}

.footer-1 p {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 58px;
}
.help {
    margin-top: 65px;
}

.help button {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    background: transparent;
    box-shadow: none;
    outline: 0;
    cursor: pointer;
    margin-right: 30px;
    transition: color .4s;
}

.help button:hover {
    color: #00e0d0;
}

.footer-2 h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 44px;
}

.location li i {
    color: #fff;
    font-size: 20px;
}

.location li p {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 26px;
}

.footer-2 input {
	color: #fff;
	padding: 17px 16px;
	height: 45px;
	background: transparent;
	border: 1px solid #9e97b0;
	width: 79%;
}

.footer-2 input::placeholder {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.footer-2 button {
    background: #9c95af;
    outline: 0;
    border: 0;
    box-shadow: none;
    height: 45px;
    width: 19%;
}
.footer-2 button i {
	font-size: 25px;
	padding: 5px 15px 0;
	margin-top: -13px;
	cursor: pointer;
}

.icons {
    margin-top: 26px;
}

.icons i {
    color: #fff;
    border: 1px solid #f4f3f6;
    border-radius: 50%;
    width: 35px;
    margin-right: 8px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transition: .4s;
}

.icons i:hover {
    border: 1px solid #00e0d0;
    background: #00e0d0;
}

.footer-p {
    padding-top: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffff;
}

/* #####################  footer CSS End  #######################  */

/* #####################  work CSS Start  #####################  */
#toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    line-height: 40px;
    background: #655b7f;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

#toTop i {
    color: #fff;
    font-size: 18px;
}

/* #####################  work CSS End  #######################  */

/* #####################  work CSS Start  #####################  */
/* #####################  work CSS End  #######################  */